body {
    background-color:white;
    padding:0;
}

#header {
    height: 45px;
    padding: 0;
    border-bottom: solid 1px #cccccc;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color:white;
}

#content {

}

#footer {

}

.zero_padding_margin {
    margin: 0;
    padding: 0;
}

.display_none {
    display: none;
}

.clear_float {
    clear: both;
}

a:hover {
    text-decoration: none;
}

.right {
    float: right;
}

.left {
    float: left;
}