li.component {
  height: 50px;
  background-color: steelblue;
  margin: 3px;
  color: red;
}

#header{
  margin-bottom:0; padding:0;
  border-bottom: solid 1px #cccccc;
  height:40px;
  position: fixed;
  left: 0;
  top: 0; 
  right: 0; 

  background-color:white;
}

.whiteboard-flyout{
  overflow: scroll;
  margin-bottom:0; padding:0;
  padding-bottom:35px;
  border-right: solid 1px #afafaf;
  position: fixed;
  left: 0;
  top: 45px;
  right: 0; 
  height: 100%; 
  width: 220px;
  background-color:white;
  font-size:12pt;
}
.whiteboard-flyout li {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 40px;
}
.whiteboard-flyout .active li {
  background-color: #1e8cff;
  color: white;
}


.whiteboard-flyout i{
  font-size:22pt; 
}

.whiteboard-flyout ul {
  list-style:none; padding:0; 
}

.whiteboard-flyout ul li{
  width:100%; 
  height:40px; 
}

.whiteboard-flyout ul li:hover{
  background-color: #ffd124;
  color: #333333;
}
#visualization{
  float:right; 
  background-color:white;
  padding-left: 200px;
  width:100%
}
.detail {
  overflow: scroll;
  float:left; 
  margin:0; 
  padding:0; 
  padding-bottom:100px;
  width: 30%; 
  position: fixed; 
  left: 220px; 
  top:45px; 
  background:white; 
  display:none;
  height: 100%;
  border-right: solid 1px gray;
  padding-top: 5px;
}
.content {
  padding-left: 15px;
  padding-right: 45px; 
}


.base-node:hover {
  fill: #ffd124;
}
.base-node {
  fill: white;
}
.clicked rect{
  fill: #ceff00;
}
.add_row_form {
  list-style: none; 

}

.whiteboard-flyout-left-menu p:hover{
  background-color: #1e8cff;
  color: white;
}
.result_table {
  text-align: center;
  width: 100%;
  padding-left: 0px;
  padding-right: 40px;
  text-align: center;
}

svg.graph {
   width: 100px;
   height: 100px;
}