.idea/
.tox/
.eggs/
cognitive.egg-info/
venv
*.pyc
*.tmp
cognitive/app/uploads/*
*.swp
*.log
*.tags
.tags_sorted_by_file
*.js.map
*.sqlite3
*.tar.gz
node_modules
components
cognitive/app/static/CACHE/
