%fieldset
  %legend INPUT_SAMPLE
  .form-group
    %label.col-lg-2.control-label{for: "inputEmail"} Email
    .col-lg-10
      %input.form-control#inputEmail{type: "email", placeholder:"Email"}
   .checkbox
      %label
        %input{type:"checkbox"} Checkbox
  .form-group
    %label.col-lg-2.control-label{for:"inputFile"} File
    .col-lg-10
      %input.form-control.floating-label{type:"text", readonly:"", placeholder:"Browse..."} 
      %input#inputFile{type:"file", multiple:""}
%button.btn.btn-material-lightblue{type:"button", style:"float:right"} ADD