!!!
%html{lang: "en", xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{charset: "utf-8"}
    %title MLaaS

    - load staticfiles
    
    %link{href: "{{STATIC_URL}}css/bootstrap.min.css", rel: "stylesheet"}
    %script{src: "{{STATIC_URL}}js/jquery-1.11.1.min.js", type: "text/javascript"}
    %script{src: "{{STATIC_URL}}js/bootstrap.min.js", type: "text/javascript"}
    %script{src: "{{STATIC_URL}}js/JSXTransformer.js", type: "text/javascript"}
    %script{src: "{{STATIC_URL}}js/react.min.js", type: "text/javascript"}

    - block 'extrahead'

  %body
    .header
      - include 'header.haml'
    .contents
      - block 'contents'
    .footer
      - include 'footer.haml'