!!!
%html{lang: "en", xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{charset: "utf-8"}
    %title Cognitive

    - load staticfiles

    %link{href: "{{STATIC_URL}}css/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "{{STATIC_URL}}css/ripples.min.css", rel: "stylesheet"}
    %link{href: "{{STATIC_URL}}css/jquery-ui.structure.min.css", rel: "stylesheet"}
    %link{href: "{{STATIC_URL}}css/jquery-ui.min.css", rel: "stylesheet"}
    %link{href: "{{STATIC_URL}}css/font-awesome.min.css", rel: "stylesheet"}
    %link{href: "{{STATIC_URL}}css/font-awesome.min.css", rel: "stylesheet"}

    %script{src: "{{STATIC_URL}}js/lib/jquery-1.11.1.min.js", type: "text/javascript"}
    %script{src: "{{STATIC_URL}}js/lib/bootstrap.min.js", type: "text/javascript"}
    %script{src: "{{STATIC_URL}}js/lib/JSXTransformer.js", type: "text/javascript"}
    %script{src: "{{STATIC_URL}}js/lib/ripples.min.js", type: "text/javascript"}
    %script{src: "{{STATIC_URL}}js/lib/jquery-ui.min.js", type: "text/javascript"}

    - block 'extrahead'

  %body{style: "background-color:white; padding:0;"}
    #header{style:"height:45px;padding:0; border-bottom: solid 1px #4c79ff"}
      - include 'header.haml'
    #contents
      - block 'contents'
    #footer
      - include 'footer.haml'