%nav.navbar.navbar-inverse.navbar-static-top 
  .container-fluid
    .navbar-header
      %a.navbar-brand{href:"/"}
        Cognitive
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li
          %a{href: "/whiteboard"} WhiteBoard