%nav.navbar.navbar-inverse.navbar-static-top{style:"margin-bottom:0; height:10px; positino"}
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: "/", style:"font-size:16pt; border-right: solid 1px white;padding-top:10px;"}
        Cognitive
      %ul.nav.navbar-nav{style:"font-size:12pt; height:100%"}
        %li
          %a{href: "/whiteboard"} WhiteBoard

