- extends 'base.haml'
- block 'extrahead'
  - load staticfiles
  %link{href: "{{STATIC_URL}}css/whiteboard.css", rel: "stylesheet"}
  %link{href: "{{STATIC_URL}}css/colorbox.css", rel: "stylesheet"}
  %script{src: "{{STATIC_URL}}js/api/client_v1.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}js/whiteboard_manager.js", type:"text/javascript"}
  %script{src: "{{STATIC_URL}}js/whiteboard.js", type: "text/jsx"}
  %script{src: "http://d3js.org/d3.v3.min.js", charset:"utf-8"}
  %script{src: "{{STATIC_URL}}js/base_node.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}js/whiteboard_d3.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}js/jquery.csv-0.71.min.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}js/jquery.colorbox-min.js", type: "text/javascript"}
- block 'contents'
  .whiteboard-flyout
    .flyout-wrapper
      %ul
        %li.menu_bar.introduction
          %i.fa.fa-file-text-o
          Introduction
        %li.menu_bar.data_input 
          %i.fa.fa-arrow-up
          Input Data
        %li.menu_bar.add_row 
          %i.fa.fa-list-ol
          Add Row
        %li.menu_bar.add_math_fomula
          %i.fa.fa-xing
          Math formula
        %li.menu_bar.normalization 
          %i.fa.fa-align-center
          Normalization
        %li.menu_bar.projection 
          %i.fa.fa-cogs
          Projection
        %li.menu_bar.remove_column
          %i.fa.fa-cut
          Remove Duplication
        %li.menu_bar.remove_missing_value
          %i.fa.fa-sliders
          Remove Missing Value
        %li.menu_bar.metadata 
          %i.fa.fa-share-alt
          MetaData
        / %li.menu_bar.filter 
        /   %i.fa.fa-filter
        /   Filter
        %li.menu_bar.machine_learning 
          %i.fa.fa-yelp
          Machine Learning
        %li.menu_bar.data_output 
          %i.fa.fa-arrow-down
          OUTPUT
  #visualization
    %svg.root{height:"800px", width:"100%"}  
  }
  #component_arguments
    .detail.introduction
      .content
        %h2 Introduction
        %p{style:"font-size:14pt; padding-left: 20px;padding-top: 10px;"} 
          User can make any components shown in menu bar on left-side of this page.
          The details corespond to the component you choose are specified in the
          center of this page appeared after your click.
          The most right-side column is for showing the history of your manupuration.
          To get result, please don't forget click 'Run' button at the bottom of menu
          bar.

    .detail.data_input{style: "display: none"}
      .content
        %h2 Input
        .form-group{style:"margin-top: 30px;"}
          %label.col-lg-2.control-label{for:"inputFile"} File
          .col-lg-10
            %input#inputFile{type:"file", accept:".csv"}
        %button.btn.btn-material-indigo.add_btn.add_input{type:"button", style:"float:right"} ADD
    .detail.add_row{style: "display: none"}
      .content
        %h2 Add Row
        .add_row_form{style:"list-style:none; font-size: 18pt;"}
        %button.btn.btn-material-indigo.addd_btn.add_row{type:"button", style:"float:right"} ADD
    .detail.add_math_fomula{style: "display: none"}
      .content
        %h2 Math Formula

        .row
          %label.col-lg-3.control-label{for:"select"} Method
          .col-lg-9
            %select#formula_method.form-control{style:"font-size:20pt;"}
              %option{style:"font-size:20pt;"} Add
              %option{style:"font-size:20pt;"} Sub
              %option{style:"font-size:20pt;"} Mul
              %option{style:"font-size:20pt;"} Div

        .row{style:"padding-top:20px;"}
          %label.col-lg-3.control-label{for:"select"} Column
          .col-lg-9
            %select#formula_column.form-control

        .row{style:"padding-top:20px;"}
          %label.col-lg-3.control-label{for:"select"} Constant
          .col-lg-9
            %input#formula_constant.form-control.floating-label#focusedInput{type:"text", placeholder: "value"}

        %button.btn.btn-material-indigo.add_btn.add_math_fomula{type:"button", style:"float:right"} ADD
    .detail.normalization{style: "display: none"}
      .content
        %h2 Normalization
        .form-group
          .row{style:"padding-top:20px;"}
            %label.col-lg-3.control-label{for:"select"} Method
            .col-lg-9
              %select#normalization_method.form-control
                %option{value: 0, style:"font-size:20pt;"} Standard
                %option{value: 1, style:"font-size:20pt;"} Regression
          
          .row{style:"padding-top:20px;"}
            %label.col-lg-3.control-label{for:"select"} Column
            .col-lg-9
              %select#normalization_column.form-control


        %button.btn.btn-material-indigo.add_btn.add_normalization{type:"button", style:"float:right"} ADD
    .detail.projection{style: "display: none"}
      .content
        %h2 Projection
        %p plz input column name
        %p ex) name,school,...
        .form-group

          %input#projection_text.form-control.floating-label#focusedInput{type:"text", placeholder: "Write something to make the label float"}
        %button.btn.btn-material-indigo.add_btn.add_projection{type:"button", style:"float:right"} ADD
    .detail.remove_column{style: "display: none"}
      .content
        %h2 Remove Duplicates
        %p plz input column name
        %p ex) name,school,...
        .form-group
          %input#remove_column_text.form-control.floating-label#focusedInput{type:"text", placeholder: "value"}
        %button.btn.btn-material-indigo.add_btn.add_remove_duplicates{type:"button", style:"float:right"} ADD

    .detail.remove_missing_value{style: "display: none"}
      .content
        %h2 Remove Missing Values
        .form-group
          %label.col-lg-3.control-label{for:"select"} Method
          .col-lg-9
            %select#remove_missing_value_method.form-control
              %option Replace_mean
              %option Drop_row
            
        %button.btn.btn-material-indigo.add_btn.add_remove_missing_value{type:"button", style:"float:right"} ADD
    .detail.metadata{style: "display: none"}
      .content
        %h2 Metadata
        .form-group
          #metadata_discriptions{style:"padding: 30px;"}
        %button.btn.btn-material-indigo.add_btn.add_metadata{type:"button", style:"float:right; margin-top: 70px;"} ADD
    .detail.formula{style: "display: none"}
      .content
        %h2 Formula
        .row{style:"text-align:center"}
          %button.btn{style: "background-color: #01a9f5;font-size: 48pt; color:white; padding: 0;"}
            %i.mdi-content-add
          %button.btn{style: "background-color: #ea1f63;font-size: 48pt; color:white; padding: 0;"}
            %i.mdi-content-remove
          %button.btn{style: "background-color: #3e51b5;font-size: 48pt; color:white; padding: 0;"}
            %i.mdi-content-clear
          %button.btn{style: "background-color: #009787;font-size: 48pt; color:white; padding: 0;"}
            %i.mdi-image-details
        .form-group
          %input.form-control.floating-label#focusedInput{type:"text", placeholder: "Write something to make the label float"}            
        %button.btn.btn-material-indigo.add_btn.add_formula{type:"button", style:"float:right"} ADD
    / .detail.filter{style: "display: none"}
    /   .content
    /     %h2 Filtering
    /     .form-group
    /       %input.form-control.floating-label#focusedInput{type:"text", placeholder: "Write something to make the label float"}            
    /     %button.btn.btn-material-indigo.add_btn.add_filtering{type:"button", style:"float:right"} ADD
    .detail.machine_learning{style: "display: none"}
      .content
        %h2 Machine Learning
        .form-group
          %label.col-lg-3.control-label{for:"select"} Method
          .col-lg-9
            %select.form-control#formula_method#select{style:"font-size:20pt;"}
              %option Linear-SVM
              %option Nearest-Neighbours
              %option Decision_Tree
              %option Random_Forest
              %option Naive_Bayes

        %button.btn.btn-material-indigo.add_btn.add_machine_learning{type:"button", style:"float:right"} ADD
    .detail.data_output{style: "display: none"}
      .content
        %h2 Output
        .form-group
          %label.col-lg-2.control-label{for:"data_output"} Name
          .col-lg-10
            %input.form-control.floating-label#focusedInput{type:"text", placeholder: "Write something to make the label float"}            
        .form-group
          %label.col-lg-2.control-label{for:"data_output"} Type
          .col-lg-10
            %input.form-control.floating-label#focusedInput{type:"text", placeholder: "Write something to make the label float"}
        %button.btn.btn-material-indigo.add_btn.add_output{type:"button", style:"float:right"} ADD
  .whiteboard-flyout-left-menu{style:"position:fixed; float:right; right:0; top:45px; height:100%; border-left: solid 1px gray; width:60px;text-align:center;"}
    / %p{style:"font-size:12pt; border-bottom:solid 1px gray; padding-top:25px; padding-bottom:20px; margin:0; "}
    /   %i.fa.fa-paperclip{style:"font-size:32pt; padding:0; margin:0;"}
    /   Share
    %p#execute-btn.add-btn.execute-btn{style:"font-size:12pt; border-bottom:solid 1px gray; padding-top:25px; padding-bottom:20px; margin:0; "}
      %i.fa.fa-play-circle-o{style:"font-size:32pt; padding:0; margin:0;"}
      Run
    %a.show_result_graph{style: "color:black;text-decoration: none;", href:"#result_table"}
      %p{style:"font-size:12pt; border-bottom:solid 1px gray; padding-top:25px; padding-bottom:20px; margin:0; "}
        %i.fa.fa-bar-chart{style:"font-size:27pt; padding:0; margin:0;"}
        Show
  #result_table{style:""}