<md-content class="md-content-dashboard" ng-controller="DashboardDataController as vm">
  <div layout-padding>
    <md-card>
      <h2 class="md-title md-title-data">
        <i class="fa fa-database"></i> Data
      </h2>

      <md-card flex="20">
        <md-card-content class="md-card-content-upload-button"
                         ngf-select="vm.startUploadingFile()"
                         ng-model="vm.uploadFile"
                         ngf-multiple="multiple">
          <h2>
            <i class="fa fa-cloud-upload fa-icon-data-upload"></i>
          </h2>
          <span class="md-title right">Upload</span>
        </md-card-content>
      </md-card>

      <md-divider></md-divider>

      <div layout="row" layout-wrap>
        <div flex="20" ng-repeat="data in vm.dataList">
          <md-card>
            <div class="md-card-data-header">
              <h2>
                <i class="fa fa-file-excel-o"></i>
              </h2>
            </div>
            <md-card-content class="md-card-data-cotent">
              <div class="file-name">
                <span>{{ data.file_path }}</span>
              </div>
              <div class="remove-button">
                <i class="fa fa-trash" ng-click="vm.removeData($index)"></i>
              </div>

            </md-card-content>
          </md-card>
        </div>
      </div>
    </md-card>
  </div>
</md-content>
