<md-dialog class="md-dialog dialog-login" aria-label="loginDialog">
  <md-dialog-content layout="row" layout-padding>
    <md-content flex="60" style="background: whitesmoke">
      <md-card layout-padding>
        <p>This platform is under the development. We are appreciated to your ideas(especially for the backend), bug reports, pull requests... etc.
        Please feel free to contact us. Thank you for your interested:)</p>
      </md-card>
      <md-card layout-padding>
        <p>The documentation of REST APIs is available: <a href="/api/v1">http://localhost:8000/api/v1</a></p>
        <p>These APIs are draft definitions, so be careful that these APIs are subject to change in the future commits</p>
      </md-card>

    </md-content>
    <md-content flex="40">
      <md-tabs md-border-bottom md-dynamic-height>
        <md-tab>
          <md-tab-label>Login</md-tab-label>
          <md-tab-body layout-padding style="height: 500px">
            <div class="tab-body">
              <form layout="column" name="vm.loginForm">
                <md-input-container>
                  <label>Username or Email</label>
                  <input type="text" name="username_or_email"
                         ng-model="vm.loginFormValues.username_or_email" required/>
                  <div ng-messages="vm.loginForm.username_or_email.$error">
                    <div ng-message="required">Required</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Password</label>
                  <input type="password" name="password" ng-model="vm.loginFormValues.password" required/>
                  <div ng-messages="vm.loginForm.password.$error">
                    <div ng-message="required">Required</div>
                    <div ng-message="wrongCredential">Wrong Credential</div>
                  </div>
                </md-input-container>

                <md-button class="md-raised md-primary btn-square" ng-click="vm.login()"
                           ng-disabled="!vm.loginForm.$valid" flex>Login
                </md-button>
              </form>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>Register</md-tab-label>
          <md-tab-body layout-padding>
            <div class="tab-body">
              <form layout="column" name="vm.RegisterForm">
                <md-input-container>
                  <label>Username</label>
                  <input type="text" name="username" ng-model="vm.registerFormValues.username" required />
                  <div ng-messages="vm.RegisterForm.username.$error">
                    <div ng-message="required">Required</div>
                    <div ng-message="duplicatedUsername">This username is already used</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Email</label>
                  <input type="email" name="email" ng-model="vm.registerFormValues.email" required />
                  <div ng-messages="vm.RegisterForm.email.$error">
                    <div ng-message="required">Required</div>
                    <div ng-message="email">Enter valid email</div>
                    <div ng-message="duplicatedEmail">This email is already used</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label> Password </label>
                  <input type="password" name="password"
                         ng-model="vm.registerFormValues.password" required />
                  <div ng-messages="vm.RegisterForm.password.$error">
                    <div ng-message="required">Required</div>
                  </div>
                </md-input-container>
                <md-button class="md-raised md-primary btn-square" ng-click="vm.register()"
                           ng-disabled="!vm.RegisterForm.$valid" flex>Register
                </md-button>
              </form>
            </div>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </md-content>
  </md-dialog-content>
</md-dialog>
