-# this is for modal page which is invoked in whiteboard.haml when user click '+' button
-# on the left side of whiteboard tab bar.

#plusWhiteboardModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Make Whiteboard
      .modal-body
        .row-fluid
          %h2 Create Whiteboard
        .row-fluid
          %label.left{for:"whiteboard-name"} Whiteboard Name
          %input#whiteboard-name.form-control{type:"text", name:"name"}
          %span.left The name of new whiteboard - each environment is separated by this.
          .clear_float
        .row-fluid
          %button#create-experiment.btn.btn-primary.right{:type => "button", data-dismiss: "modal"} Create
          .clear_float
        .row-fluid
          %h2 Open Whiteboard
        .row-fluid
          %select#user-whiteboards.form-control
            -#%option{value:"1"} whiteboard
            -#%option{value:"123"} whiteboard123
          %span.left Open the whiteboard you saved before.
          .clear_float
        .row-fluid
          %button#open-experiment.btn.btn-primary.right{:type => "button", data-dismiss: "modal"} Open
          .clear_float
      .modal-footer
        %button.btn.btn-default{type:"button", data-dismiss:"modal"} Close
