{% for m in messages %}
  {% if "info" in m.tag %}
    .alert.alert-info.alert-dismissable.fade.in
      %button.close{type:"button", data-dismiss:"alert", aria-label:"Close"}
        %span{aria-hidden:"true"}
          &times;
      %p
        %strong Info:
        {{ m.message }}
  {% endif %}

  {% if "warning" in m.tag %}
    .alert.alert-warning.alert-dismissable.fade.in
      %button.close{type:"button", data-dismiss:"alert", aria-label:"Close"}
        %span{aria-hidden:"true"}
          &times;
      %p
        %strong Warning:
        {{ m.message }}
  {% endif %}
  {% if "success" in m.tag %}
    .alert.alert-success.alert-dismissable.fade.in
      %button.close{type:"button", data-dismiss:"alert", aria-label:"Close"}
        %span{aria-hidden:"true"}
          &times;
      %p
        %strong Success:
        {{ m.message }}
  {% endif %}
  {% if "danger" in m.tag %}
    .alert.alert-danger.alert-dismissable.fade.in
      %button.close{type:"button", data-dismiss:"alert", aria-label:"Close"}
        %span{aria-hidden:"true"}
          &times;
      %p
        %strong Error:
        {{ m.message }}
  {% endif %}
{% endfor %}
