%ul{style:"height:100%;list-style:none; padding:0;margin:0;"}
  %li{style:"height:100%;font-size:12pt;padding-top:5px;padding-left:30px; padding-right:35px; float:left; border-right: solid 1px #cccccc; "}
    %a{href: "/", style:"font-size:16pt; border-right: solid 1px white;"}
      %i.fa.fa-cube{style:"padding:0;margin:0;"}
      Cognitive
  %li{style:"font-size:13pt; height:100%; float:left;margin-left:30px;padding-top:10px;"}
    %a{href: "/whiteboard"} WhiteBoard
  %li.right{style:"font-size:13pt height:100%; margin-right:30px;padding-top:13px;"}
    %p Register / Login

