%nav.navbar.navbar-fixed-top
  .container-fluid{style:"border-bottom: solid 2px #eeeeee"}
    .navbar-header
      %a.navbar-brand{href: "/"}
        .text-info
          %i.fa.fa-cube{style:"padding:0;margin:0;"}
          Cognitive

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{href: "/whiteboard"} WhiteBoard

      %ul.nav.navbar-nav.navbar-right
        {% if request.session.cognitive %}
        %li.dropdown
          %a#user-dropdown-menu.dropdown-toggle{type:"button",data-toggle:"dropdown", aria-expanded:"true"}
            %i.fa.fa-user
            {{request.session.cognitive.user.name}}
            %span.caret
          %ul.dropdown-menu
            %li{role:"presentation"}
              %a{role:"menuitem", tabindex:"10", href:"/logout"}
                Log out

        %span#user-id{value:"{{request.session.cognitive.user.id}}"}
        %span#user-token{value:"{{request.session.cognitive.user.token}}"}

        {% else %}
        %li
          %a{href: "/join"} Sign up
        %li
          %a{href: "/login"} Sign in
        {% endif %}
