- extends 'base.haml'

- block 'contents'
  %h1 Join Cognitive
  %h3 The Best Way for Machine Learning in Your Hand
  %form
    %table
      %tr
        %td
          Username or Email
        %td
          %input{type:"text"}

