- extends 'base.haml'

- block 'contents'
  .container

    .row{style:"margin-top:70px;"}
      .col-lg-2
      .col-lg-8
        .panel.panel-default
          .panel-heading
            .panel-title
              %h4
                %b
                  %i.fa.fa-tag
                  Create Your Account
          .panel-body
            %div{style:"padding-left:20px;padding-right:20px;"}
              %form{method:"POST"}
                {% csrf_token %}
                .form-group
                  %label{for:"username"} Username
                  %input#username.form-control{type:"text", name:"username"}
                  %span This will be displayed for other user.
                .form-group
                  %label{for:"email"} Email
                  %input#email.form-control{type:"email", name:"email"}
                  %span All information will be sent to this mail address.
                .form-group
                  %label{for:"password"} Password
                  %input#password.form-control{type:"password", name:"password"}
                  %span User have to use at least one lowercase letter, one number, and seven characters.
                .form-group
                  %label{for:"password-confirm"} Confirm Password
                  %input#password-confirm.form-control{type:"password"}
                %button.btn.btn-default{type:"submit", style:"margin-top:20px;"} Create Account