- extends 'base.haml'

- block 'extrahead'

  - load staticfiles
  %link{href: "{{STATIC_URL}}lib/jquery-ui/jquery-ui.css", rel: "stylesheet"}
  %link{href: "{{STATIC_URL}}css/lib/colorbox.css", rel: "stylesheet"}
  %link{href: "{{STATIC_URL}}css/whiteboard.css", rel: "stylesheet"}
  %link{href: "{{STATIC_URL}}css/lib/square/blue.css", rel: "stylesheet"}

  %script{src: "{{STATIC_URL}}lib/jquery-ui/jquery-ui.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}lib/d3/d3.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}ts/build/components/base.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}ts/build/components/input_data.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}ts/build/components/add_row.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}ts/build/components/column_selection.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}ts/build/components/machine_learning.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}ts/build/components/math_formula.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}ts/build/components/metadata_editor.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}ts/build/components/normalization.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}ts/build/components/remove_duplicate.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}ts/build/components/remove_missing_values.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}ts/build/whiteboard.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}js/lib/jquery.csv-0.71.min.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}js/lib/icheck.min.js", type: "text/javascript"}
  %script{src: "{{STATIC_URL}}js/lib/jquery.colorbox-min.js", type: "text/javascript"}

- block 'contents'

  - include '_add_whiteboard_modal.haml'

  #main-menu.zero_padding_margin
  -#  new tabs like `setting`, `experiment` will be appeared here
  %div{role:"tabpanel"}
    .whiteboard-top-menu
      .whiteboard-top-menu-wrapper
        -# this will be the tab ui which compose multipble whiteboard
        -#.whiteboard-tab.left{style:"height:17px; width:200px; border-top: solid 1px steelblue; border-right: solid 1px steelblue; margin-top:0px;"}
        %ul#whiteboard-nav-tabs.nav.nav-tabs{role:"tablist", style:"height:18px; background: steelblue;"}
          %li{style:"height:18px;padding:0; margin:0;"}
            #plusWhiteboard{style:"padding-left: 2px;height:17px; width:25px; margin-top:0px; border-top: solid 1px steelblue; border-right: solid 1px steelblue;background: steelblue;", data-toggle:"modal", data-target:"#plusWhiteboardModal"}
              %i.fa.fa-plus{style:"margin-top:1px; margin-left:4px; color:white"}
          %li#template-whiteboard-tab{role:"presentation",style:"height:18px;padding:0; margin-left:1px;border-bottom: solid 1px #cccccc; display:none"}
            %a{href:"#", role:"tab", data-toggle:"tab", aria-controls:"whiteboard-draw-area"}
              %i.fa.fa-file-o
              %span.template-whiteboard-name template name

  #whiteboard-draw-area.tab-content{style:"height:100%;"}
    .tab-pane.active{role:"tabpanel",style:"height:100%;"}
      .whiteboard-draw-area-wrapper
        %svg#root.whiteboard-root
          %g#layer-0
          %g#layer-1
          %g#layer-2
          %g#layer-3
          %g#layer-4
    #template-whiteboard-draw-area.tab-pane{role:"tabpanel", style:"height:100%; display: none;"}
      .whiteboard-draw-area-wrapper
        %svg#template-whiteboard-id.whiteboard-root{style:"width:100%; height:100%"}
          %g.layer.layer-0
          %g.layer.layer-1
          %g.layer.layer-2
          %g.layer.layer-3
          %g.layer.layer-4

  .whiteboard-flyout{style:"left: 55px;"}
    .flyout-wrapper
      %ul
        %li.list-group-item-cognitive.menu_bar.introduction
          %i.fa.fa-file-text-o
          Introduction
        %li.list-group-item-cognitive.menu_bar.data_input
          %i.fa.fa-arrow-up
          Input Data
        %li.list-group-item-cognitive.menu_bar.add_row
          %i.fa.fa-list-ol
          Add Row
        %li.list-group-item-cognitive.menu_bar.add_math_fomula
          %i.fa.fa-xing
          Math formula
        %li.list-group-item-cognitive.menu_bar.normalization
          %i.fa.fa-align-center
          Normalization
        %li.list-group-item-cognitive.menu_bar.projection
          %i.fa.fa-cogs
          Column Selection
        %li.list-group-item-cognitive.menu_bar.remove_column
          %i.fa.fa-cut
          Remove Duplicates
        %li.list-group-item-cognitive.menu_bar.remove_missing_value
          %i.fa.fa-sliders
          Remove Missing Value
        %li.list-group-item-cognitive.menu_bar.metadata
          %i.fa.fa-share-alt
          Metadata Editor
        %li.list-group-item-cognitive.menu_bar.machine_learning
          %i.fa.fa-yelp
          Machine Learning

  #component_arguments
    .detail.introduction
      .content
        %h2 
          %i.fa.fa-file-text-o
          Introduction
        %p{style:"font-size:14pt; padding-left: 20px;padding-top: 10px;"} 
          User can make any components shown in menu bar on left-side of this page.
          The details corespond to the component you choose are specified in the
          center of this page appeared after your click.
          The most right-side column is for showing the history of your manupuration.
          To get result, please don't forget click 'Run' button at the bottom of menu
          bar.

    .detail.data_input
      .content
        %h2
          %i.fa.fa-arrow-up
          Input

        .form-group{style:"margin-top: 30px;"}
          %label.col-lg-2.control-label{for:"inputFile"} File
          .col-lg-10
            %input#inputFile{type:"file", accept:".csv"}

        .col-lg-12
          %button#input-add-btn.btn.btn-primary.add_btn.add_input.right{type:"button"} Add
          %button#input-edit-btn.btn.btn-warning.edit_input.right.disabled{type:"button"} Edit

    .detail.add_row.display_none
      .content
        %h2
          %i.fa.fa-list-ol
          Add Row
        .add_row_form{style:"list-style:none; font-size: 18pt;"}
        %button#add_row-add-btn.btn.btn-primary.add_btn.add_row.right{type:"button"} Add
        %button#add_row-edit-btn.btn.btn-warning.edit_add_row.right.disabled{type:"button"} Edit

    .detail.add_math_fomula.display_none
      .content
        %h2
          %i.fa.fa-xing
          Math Formula
        .row
          %label.col-lg-3.control-label{for:"select"} Method
          .col-lg-9
            %select#formula_method.form-control{style:"font-size:12pt;"}
              %option Add
              %option Sub
              %option Mult
              %option Div

        .row{style:"padding-top:20px;"}
          %label.col-lg-3.control-label{for:"select"} Column
          .col-lg-9
            %select#formula_column.form-control

        .row{style:"padding-top:20px;"}
          %label.col-lg-3.control-label{for:"select"} Constant
          .col-lg-9
            %input#formula_constant.form-control.floating-label#focusedInput{type:"text", placeholder: "value"}
        %button#math_formula-add-btn.btn.btn-primary.add_btn.add_math_fomula.right{type:"button"} ADD
        %button#math_formula-edit-btn.btn.btn-warning.edit_math_fomula.right.disabled{type:"button"} Edit

    .detail.normalization.display_none
      .content
        %h2
          %i.fa.fa-align-center
          Normalization
        .form-group
          .row{style:"padding-top:20px;"}
            %label.col-lg-3.control-label{for:"select"} Method
            .col-lg-9
              %select#normalization_method.form-control
                %option{value: 0, style:"font-size:20pt;"} Standard
          
          .row{style:"padding-top:20px;"}
            %label.col-lg-3.control-label{for:"select"} Column
            .col-lg-9
              %select#normalization_column.form-control
        %button#normalization-add-btn.btn.btn-primary.add_btn.add_normalization.right{type:"button"} Add
        %button#normalization-edit-btn.btn.btn-warning.edit_normalization.right.disabled{type:"button"} Edit

    .detail.projection.display_none
      .content
        %h2
          %i.fa.fa-cogs
          Column Selection     
        .form-group.projection_form
        %button#projection-add-btn.btn.btn-primary.add_btn.add_projection.right{type:"button"} Add
        %button#projection-edit-btn.btn.btn-warning.edit_projection.right.disabled{type:"button"} Edit
        .projection.minus-bottom.right
          %i.fa.fa-minus.minus-icon
        .projection.plus-bottom.right
          %i.fa.fa-plus.plus-icon

    .detail.remove_column.display_none
      .content
        %h2
          %i.fa.fa-cut
          Remove Duplicates
        .form-group.remove_duplicates_form
        %button#remove_dupplicates-add-btn.btn.btn-primary.add_btn.add_remove_duplicates.right{type:"button"} Add
        %button#remove_dupplicates-edit-btn.btn.btn-warning.edit_remove_duplicates.right.disabled{type:"button"} Edit
        .remove_duplicates.minus-bottom.right
          %i.fa.fa-minus.minus-icon
        .remove_duplicates.plus-bottom.right
          %i.fa.fa-plus.plus-icon

    .detail.remove_missing_value.display_none
      .content
        %h2
          %i.fa.fa-sliders
          Remove Missing Values
        .form-group
          %label.col-lg-3.control-label{for:"select"} Method
          .col-lg-9
            %select#remove_missing_value_method.form-control
              %option Replace_mean
              %option Replace_median
              %option Replace_mode
              %option Drop_row
        %button#remove_missing_value-add-btn.btn.btn-primary.add_btn.add_remove_missing_value.right{type:"button"} Add
        %button#remove_missing_value-edit-btn.btn.btn-warning.edit_remove_missing_value.right.disabled{type:"button"} Edit

    .detail.metadata.display_none
      .content
        %h2
          %i.fa.fa-share-alt
          Metadata
        .form-group
          #metadata_discriptions{style:"padding: 30px;"}
        %button#metadata-add-btn.btn.btn-primary.add_btn.add_metadata.right{type:"button", style:" margin-top: 40px;"} Add
        %button#metadata-edit-btn.btn.btn-warning.edit_metadata.right.disabled{type:"button", style:" margin-top: 40px;"} Edit

    .detail.machine_learning.display_none
      .content
        %h2
          %i.fa.fa-yelp
          Machine Learning
        .form-group
          .row
            %label.col-lg-3.control-label{for:"select"} Method
            .col-lg-9
              %select.form-control.machine_learning_select#formula_method#select{style:"font-size:20pt;"}
                %option Linear_SVM
                %option Nearest_Neighbours
                %option Decision_Tree
                %option Random_Forest
                %option Naive_Bayes
        .form-group
          .row
            %label.col-lg-3.control-label{for:"select"} Target Column
            .col-lg-9
              %select.form-control.machine_learning_target#formula_method#select{style:"font-size:20pt;"}

        .form-group
          .row
            %label.col-lg-3.control-label{for:"select"} Train Data Percentage
            .col-lg-9
              %select.form-control.machine_learning_target_parcentage#formula_method#select{style:"font-size:20pt;"}
                %option 10
                %option 20
                %option 30
                %option 40
                %option 50
                %option 60
                %option 70
                %option 80
                %option 90
        %button#machine_learning-add-btn.btn.btn-primary.add_btn.add_machine_learning.right{type:"button"} Add
        %button#machine_learning-edit-btn.btn.btn-warning.edit_machine_learning.right.disabled{type:"button"} Edit

- block 'footer'
  .row{style:"height:inherit"}
    .container{style:"height:inherit"}
      .text-center{style:"height:inherit"}
        .btn-group.btn-group-cognitive{role:"group", aria-label:"footbar-btn", style:"height:inherit; width:70px;border-right: solid 1px #eeeeee;border-left: solid 1px #eeeeee;margin:0"}
          #execute-btn.container-fluid
            .row
              %i.fa.fa-play.fa-align-center{style:"font-size:27pt;"}
            .row
              RUN
        .btn-group.btn-group-cognitive{role:"group", aria-label:"footbar-btn", style:"height:100%;width:70px;border-right: solid 1px #eeeeee;border-left: solid 1px #eeeeee;margin:0"}
          #show_component.container-fluid
            .row
              %i.glyphicon.glyphicon-signal.glyphicon-align-center.zero_padding_margin{style:"font-size:26pt;"}
            .row
              Show
        .btn-group.btn-group-cognitive{role:"group", aria-label:"footbar-btn", style:"height:inherit;width:70px;border-right: solid 1px #eeeeee;border-left: solid 1px #eeeeee;margin:0"}
          .container-fluid{style:"padding-right:20px;padding-left:20px;"}
            .row
              %i.glyphicon.glyphicon-floppy-disk.glyphicon-align-center{style:"font-size:28pt;"}
            .row
              %span.text-center SAVE
