.cognitive-modal-window .modal-dialog {
  width: 95%;
}

#login-modal {
     background:white;
}
input {
    border-radius: 0 !important;
}

select {
    border-radius: 0 !important;
    -webkit-appearance: none !important;
}

button {
    border-radius: 0 !important;
}
.login-modal-window .modal-dialog {
    width: 800px;
}

body {
    /*background-color: #577691;*/
    padding: 0;
    margin: 0;
}

body, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

#contents {
    padding-top: 40px;
    background: white;
    height: 100vh;
}

.cognitive-header {
    background: white;
}

.cognitive-content{
    height: calc(100vh - 50px);
    background: white;
    padding: 0;
}

.cognitive-footer{
    background: white;
}

.zero_padding_margin {
    margin: 0;
    padding: 0;
}

.display_none {
    display: none;
}

.clear_float {
    clear: both;
}

a:hover {
    text-decoration: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.btn-group-cognitive:hover {
    background: #ffd124;
}

.btn-group-cognitive:active {
    background: rgb(30, 140, 255);
    color: white;
}

.list-group-item-cognitive:hover {
    background: #ffd124;
}

.list-group-item-cognitive:active {
    background: rgb(30, 140, 255);
    color: white;
}