md-dialog {
    border-radius: 0;
}

.cognitive-modal-window .modal-dialog {
  width: 95%;
}

#login-modal {
     background:white;
}
input {
    border-radius: 0 !important;
}

select {
    border-radius: 0 !important;
    -webkit-appearance: none !important;
}

button {
    border-radius: 0 !important;
}
.login-modal-window .modal-dialog {
    width: 800px;
}

#contents {
    padding-top: 40px;
    background: white;
    height: 100vh;
}

.section-home {
    height: 400px;
}


.cognitive-content{
    height: calc(100vh - 50px);
    background: white;
    padding: 0;
}

.cognitive-footer{
    background: white;
}

.zero_padding_margin {
    margin: 0;
    padding: 0;
}

.display_none {
    display: none;
}

.clear_float {
    clear: both;
}

a:hover {
    text-decoration: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* header.html */
md-toolbar.md-toolbar-nav {
    background: steelblue;
}

/* whiteboard.html */
.card-remove-button {
    background: indianred;
    text-align: center;
    height: 36px;
    font-size: 20pt;
    padding-top: 5px;
    color:white;
}

.md-button-menu-content {
    width:90%;
    text-align: left;
    text-transform: none;
}

.md-content-dashboard {
    height:calc(100vh - 64px);
    background: whitesmoke;
}

/* whiteboard/data.html */
.md-title-data {
    padding-left: 20px;
}

.md-card-content-upload-button {
  background: #318DAB;
    color: white;
}

.fa-icon-data-upload{
    font-size: 45pt;
}

.md-card-data-header {
    background: rgba(17, 128, 0, 0.76);
    padding-bottom: 15px;
    text-align: center;
}

.md-card-data-header i {
    color: white; font-size: 60pt;
}

.md-card-data-cotent {
    text-align: right;
}

.md-card-data-cotent .file-name {
    float: left;
}

.md-card-data-cotent .remove-button {
    color: gray;
    font-size: 18pt;
}

md-toolbar.md-toolbar-primary {
    background-color: steelblue;
}

/* experiment.html */
.experiment-content {
    background: whitesmoke;
}

.experiment-sidebar {
    background: whitesmoke;
}