md-dialog {
    border-radius: 0 !important;
}

.cognitive-modal-window .modal-dialog {
  width: 95%;
}

#login-modal {
     background:white;
}
input {
    border-radius: 0 !important;
}

select {
    border-radius: 0 !important;
    -webkit-appearance: none !important;
}

button {
    border-radius: 0 !important;
}
.login-modal-window .modal-dialog {
    width: 800px;
}

#contents {
    padding-top: 40px;
    background: white;
    height: 100vh;
}

.section-home {
    height: 400px;
}


.cognitive-content{
    height: calc(100vh - 50px);
    background: white;
    padding: 0;
}

.cognitive-footer{
    background: white;
}

.zero_padding_margin {
    margin: 0;
    padding: 0;
}

.display_none {
    display: none;
}

.clear_float {
    clear: both;
}

a:hover {
    text-decoration: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* whiteboard.html */
.card-remove-button {
    background: indianred;
    text-align: center;
    height: 36px;
    font-size: 20pt;
    padding-top: 5px;
    color:white;
}
