li.component {
    height: 50px;
    background-color: steelblue;
    margin: 3px;
    color: red;
}

.whiteboard-flyout{
    overflow: scroll;
    margin-bottom:0;
    padding: 0 0 130px;
    border-right: solid 1px #afafaf;
    position: fixed;
    left: 0;
    top: 50px;
    right: 0;
    height: 100%;
    width: 220px;
    background-color:white;
    font-size:12pt;
}

.whiteboard-flyout li {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 40px;
}

.layer {
    height: 100%;
    width: 100%;
}

.whiteboard-flyout i{
    font-size:22pt;
}

.whiteboard-flyout ul {
    list-style:none;
    padding:0;
}

.whiteboard-flyout ul li{
    width:100%;
    height:40px;
}

.whiteboard-draw-area-wrapper {
    float:right;
    background-color:white;
    width:100%;
    height: calc(100vh - 126px);
}


.root {
    position: relative;
}

.layer {
    height: 100%;
    width: 100%;
}

.whiteboard-root {
    width: 100%;
    height: 100%;
}

.detail {
    overflow: scroll;
    float:left;
    margin:0;
    width: 30%;
    position: fixed;
    left: 275px;
    top:68px;
    background: white;
    display:none;
    height: calc(100% - 125px);
    border-right: solid 1px gray;
    padding: 0px 0 0px;
    max-width: 600px;

}

.whiteboard-top-menu{
    height:18px;
    width:100%;
}

.whiteboard-top-menu-wrapper{
    height:100%;
    padding-top:0;
    padding-bottom:0;
    border-bottom: solid 1px #cccccc;
}

.content {
    padding-left: 15px;
    padding-right: 45px;
}

.cognitive-detail {
    padding-left: 15px;
    padding-right: 45px;
}

.cognitive-detail-content {
    padding-bottom: 100px;

}

.cognitive-detail-header {
    border-bottom: solid 1px #eeeeee;
    padding-left: 15px;
    padding-right: 45px;
}

.cognitive-detail-body {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 45px;
}

.cognitive-detail-footer {

}



.base-node:hover {
    fill: #ffd124;
}

.base-node {
    fill: white;
}

.clicked rect{
    fill: #ceff00;
}

.cognitive-node.output-circle:hover {
    r: 10;
}
.cognitive-node.input-circle:hover {
    r: 10;
}

.node-group.active > rect {
    fill: #ceff00;
}

.add_row_form {
    list-style: none;
}

.add_btn {
    margin-bottom: 100px;
}

.edit_btn {
    background: #ffd124;
}

.add-row-option {
    padding-top: 10px;
}


.result_table {
    text-align: center;
    width: 100%;
    margin-left: 30px;
    margin-top:30px;
    padding-left: 0px;
    padding-right: 40px;
    text-align: center;
}

svg.graph {
    width: 80px;
    height: 80px;
}

.processed {
    fill: aliceblue;
}

.bar {
    fill:steelblue;
}

.bar:hover {
    fill:#ffd124;
}

tr.metrics {
    background: midnightblue;
    color: white;
}

tr.result_row:hover {
    background: powderblue;
}

.machine_learning_result {
    margin-bottom: 30px;
}

.static_results{
    background: #eeeeee;
}

.projection_selects {
    margin-top: 20px;
}

.remove_duplicates_selects{
    margin-top: 20px;
}

.plus-bottom {
    border:solid 3px #F77A64;
    width:40px;
    height:36px;
    text-align:center;
    margin-top:10px;
    margin-right:3px;
}

.plus-icon {
    color:#F77A64;
    font-size:24pt;
}

.minus-bottom{
    border:solid 3px #5757AD;
    width:40px;
    height:36px;
    text-align:center;
    margin-top:10px;
    margin-right:15px;
}

.minus-icon {
    color:#5757AD;
    font-size:24pt;
}

.close-icon {
    font-size: 16pt;
    fill: #ddc9c9;
    display: none;
}

.close-icon:hover {
    fill: #c43b27;
}

.edit-icon {
    font-size: 13pt;
    fill: #ceddc9;
    display: none;
}

.fa-icon {
    font-family: 'FontAwesome', serif;
}

.edit-icon:hover {
    fill: #5edd73;
}

#layer-0 {
    height: 100%;
    width: 100%;
}
#layer-1 {
    height: 100%;
    width: 100%;
}
#layer-2 {
    height: 100%;
    width: 100%;
}
#layer-3 {
    height: 100%;
    width: 100%;
}


.nav-tabs>li>a {
    font-size:9pt;
    height:18px;
    padding: 0 20px;
    margin:0;
    color: black;
    background:#DFDFDF;
    border-bottom: solid 1px #cccccc;
}

.nav-tabs>li.active>a {
    color: steelblue;
    font-size:10pt;
    height:18px;
    padding: 0 20px;
    margin:0;
    background:white;
}

.btn-group-cognitive {
    color: steelblue;
}

/*.btn-group-cognitive:hover {*/
    /*background: rgb(30, 140, 255);*/
    /*color: white;*/
/*}*/

li.list-group-item-cognitive:hover {
    background: #ffd124;
    color: #333333;
}

li.list-group-item-cognitive.active {
    background: rgb(30, 140, 255);
    color: white;
}

.alert-cognitive {
    display: none;
}

.alert-cognitive:active {
    display: block;
}
